body {
  letter-spacing: 0.01rem;
}

h1 {
  text-align: center;
  color: rgb(248 101 85);
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 550;
}

.capital {
  text-transform: uppercase;
}

label {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  margin-left: 10px;
}

form > div {
  margin: 10px;
}

.filler-text {
  width: 400px;
  height: 30px;
  border: solid gray 1px;
  border-radius: 5px;
  padding: 0.2rem;
}

select {
  background-color: #eeee;
  font-family: "Brandon Grotesque", sans-serif;
  padding: 0.2rem;
}

button {
  border-radius: 15px;
  border: 0 solid white;
  background-color: rgb(248 101 85);
  color: white;
  padding: 5px 15px;
  font-family:
    "Brandon Grotesque",
    sans-serif;
  font-weight: 450;
  margin: 10px;
  margin-left: 320px;
}

button:hover {
  background-color: gray;
  color: aliceblue;
  cursor: pointer;
}

input::placeholder {
  font-family: atlasgrotesk, sans-serif;
  padding-left: 5px;
}

.container {
  display: flex;
  justify-content: center;
}
