.Btn-standard {
  padding: 0.1rem;
  font-size: 0.5rem;
  font-weight: 300;
}

.Btn-green {
  background-color: green;
}

.Btn-red {
  background-color: red;
}

.Btn-blue {
  background-color: blue;
}
