* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half,
.column-quarter {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 80vw;
  }

  .column-full,
  .column-half,
  .column-quarter {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .column-quarter {
    width: 25%;
  }
}
