header {
  background-color: black;
  color: blueviolet;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
}

h1 {
  color: aliceblue;
}

button {
  flex-direction: row-reverse;
  border-radius: 20px;
  border: solid black 0.01rem;
}

.btn-right {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

p {
  max-width: 50%;
  text-align: center;
}

body {
  background: linear-gradient(180deg, #a5a299, #e9ebf8);
}

button:hover {
  transform: scale(1.1);
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 200px;
  display: flex;
  justify-content: center;
}

#ball {
  background: black;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

#intro {
  margin-top: 10%;
}
