* {
  line-height: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 2.5% 7.5%;
}

.thin-row {
  display: flex;
  width: 100%;
  margin: auto;
  padding: 1rem 5%;
}

main {
  margin-top: 150px !important;
}

.nav-follow {
  position: fixed;
  z-index: 2;
  background-color: white;
  border-bottom: solid #bebebe 1px;
  top: 0;
}

.margin-side-only {
  margin: 0 2rem;
}

.background-img {
  width: 100%;
  height: 600px;
  background-size: cover;
  position: relative;
  background-image: url("images/hero.jpg");
  background-position: center;
  margin: auto;
}

#background-img-about {
  width: 100%;
  height: 600px;
  background-size: cover;
  position: relative;
  background-image: url("images/about-us/about-us-header.jpg");
  background-position: center;
  margin: auto;
}

#background-img-implementation {
  width: 100%;
  height: 600px;
  background-size: cover;
  position: relative;
  background-image: url("images/implementation/implementation-header.jpg");
  background-position: center;
  margin: auto;
}

.background-img > img {
  width: 85%;
}

.col-full {
  flex-basis: 100%;
}

.col-1-2 {
  flex-basis: 50%;
}

.col-1-3 {
  flex-basis: calc(100% / 3);
}

.col-1-4 {
  flex-basis: 25%;
}

.space-between {
  justify-content: space-between;
}

header {
  border-bottom: solid gray 1px;
}

.image-overlay {
  color: white;
  z-index: 1;
  padding: 0 45% 0 5%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.image-fog {
  background: #52535166;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.text-cen {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.pad-third {
  padding: 0 33%;
}

.pad-quart {
  padding: 0 25%;
}

.top-bot-padding {
  padding-top: 75px;
  padding-bottom: 75px;
}

.light-back {
  background-color: #fafafa;
}

.go-home {
  width: 125px;
}

.go-home > img {
  width: 100%;
}

.stick-right {
  justify-content: flex-end;
}

.self-centered {
  align-self: center;
}

.relative {
  position: relative;
}

#nav-contact-us {
  background-color: #294464;
  border: solid #294464 1px;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10pt;
  font-family: Avenir, sans-serif;
}

.grey-back {
  background-color: #525351;
}

.white-text {
  color: white;
}

.foot-links {
  text-decoration: none;
  color: white;
  display: block;
  margin: 0.75rem 0;
  font-family: Avenir, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.nav-link {
  text-decoration: none;
  color: #6e6e6e;
  margin: 0 0.75rem;
  font-size: 10pt;
  opacity: 0.7;
  font-family: Avenir, sans-serif;
}

.legal-stuff {
  text-decoration: none;
  color: #6e6e6e;
  font-size: 1.2rem;
  margin: 2rem 1.5rem 2rem 0;
  font-family: Avenir, sans-serif;
  font-weight: 500;
}

.grey-text {
  color: #5e5e5e;
}

.align-center {
  align-items: center;
}

.canvas-white {
  width: 125px;
  margin: 25px 0;
}

.squish-together {
  margin: 0;
}

p {
  margin: 0.5rem auto;
  font-size: 1.1rem;
}

h2,
h3 {
  font-family: "Tiempos Headline", serif;
}

p,
h4 {
  font-family: Avenir, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.image-overlay > h2 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 3rem;
  margin: 0 1rem 0 0;
}

li > p {
  margin: 2.5rem auto;
}

.image-overlay > p {
  font-size: 1.2rem;
  margin: 3rem 0;
  padding-right: 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
  width: 100%;
  margin: 2rem auto;
  line-height: 2.5rem;
}

.locations-left {
  font-size: 1.25rem;
  margin: 2rem;
  padding-left: 8rem;
}

.locations-right {
  font-size: 1.25rem;
  margin: 2rem;
  padding-right: 8rem;
}

.footer > h4 {
  font-weight: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
}

p > a {
  text-decoration: none;
  font-family: Avenir, sans-serif;
  font-weight: bold;
  color: #294464;
  font-size: 1.1rem;
}

h3 > a {
  text-decoration: none;
  color: #294464;
}

a:hover {
  transform: scale(1.2);
  color: black;
}

.team-member {
  width: 50%;
  margin-top: 2rem;
}

.team-member > img {
  width: 100%;
  border-radius: 50%;
}

.column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-started {
  background-color: #294464;
  border: solid #294464 1px;
  text-decoration: none;
  color: white;
  padding: 10px 35px;
  border-radius: 5px;
  font-family: Avenir, sans-serif;
  font-size: 14pt;
}

ol {
  list-style-position: inside;
}

li::marker {
  font-size: 3rem;
}

li {
  font-size: 1.8rem;
  margin: 2rem auto;
}

.larger-title {
  font-size: 2.5rem;
}

footer {
  border-top: solid #bebebe 1px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 30%;
}

input {
  display: flex;
}

#email-sub {
  border: none;
  border-bottom: solid #9e9e9e 2px;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#email-sub::placeholder {
  color: #dfdfdf;
  font-family: Avenir, sans-serif;
}

#subscribe {
  background-color: #294464;
  border: solid #294464 1px;
  text-decoration: none;
  color: white;
  padding: 10px 35px;
  border-radius: 5px;
  font-family: Avenir, sans-serif;
  font-size: 14pt;
  cursor: pointer;
}

#subscribe:hover {
  transform: scale(1.1);
}

.blog-img {
  width: 100%;
  height: auto;
}

.blog-img > img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}
