* {
  line-height: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  margin: auto;
}

main {
  margin-top: 75px !important;
}

.nav-follow {
  position: fixed;
  z-index: 2;
  background-color: white;
  border-bottom: solid #6e6e6e 1px;
  top: 0;
  padding-bottom: 15px;
}

.margin-side-only {
  margin: 0.75rem 10% 0;
}

.margin {
  margin: 2rem 10%;
}

.background-img {
  width: 85%;
  height: 600px;
  background-size: cover;
  position: relative;
  background-image: url("images/hero.jpg");
  margin: 0 10%;
  background-position: center;
}

.background-img > img {
  width: 85%;
}

.col-full {
  flex-basis: 100%;
}

.col-1-2 {
  flex-basis: 50%;
}

.col-1-3 {
  flex-basis: calc(100% / 3);
}

.col-1-4 {
  flex-basis: 25%;
}

.space-between {
  justify-content: space-between;
}

header {
  border-bottom: solid gray 1px;
}

.image-overlay {
  color: white;
  z-index: 1;
  padding: 7% 40% 10% 5%;
}

.image-fog {
  background: #52535166;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

.text-cen {
  text-align: center;
}

.grow-1-3 {
  padding: 0 35%;
}

.light-back {
  background-color: #fafafa;
}

.top-bot-space {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.go-home {
  width: 125px;
}

.go-home > img {
  width: 100%;
}

.stick-right {
  position: absolute;
  right: 0;
  align-self: center;
}

.stick-left {
  margin-left: 0;
}

.relative {
  position: relative;
}

.get-started {
  background-color: #294464;
  border: solid #294464 1px;
  text-decoration: none;
  color: white;
  padding: 10px 35px;
  border-radius: 5px;
  font-family: Avenir, sans-serif;
  font-size: 14pt;
}

#nav-contact-us {
  background-color: #294464;
  border: solid #294464 1px;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10pt;
  font-family: Avenir, sans-serif;
}

.grey-back {
  background-color: #525351;
}

.white-text {
  color: white;
}

.foot-links {
  text-decoration: none;
  color: white;
  display: block;
  margin: 0.75rem 0;
  font-family: Avenir, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.nav-link {
  text-decoration: none;
  color: #6e6e6e;
  margin: 0 0.75rem;
  font-size: 10pt;
  opacity: 0.7;
  font-family: Avenir, sans-serif;
}

.legal-stuff {
  text-decoration: none;
  color: #6e6e6e;
  font-size: 1.2rem;
  margin: 2rem 1.5rem 2rem 0;
  font-family: Avenir, sans-serif;
  font-weight: 500;
}

.grey-text {
  color: #6e6e6e;
}

.align-center {
  align-items: center;
}

.canvas-white {
  width: 125px;
  margin: 25px 0;
}

.squish-together {
  margin: 0;
}

h2,
h3 {
  font-family: "Tiempos Headline", serif;
}

p,
h4 {
  font-family: Avenir, sans-serif;
  font-weight: 500;
}

.image-overlay > h2 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 3rem;
  margin: 0 1rem 0 0;
}

.image-overlay > p {
  font-size: 1.2rem;
  margin: 3rem 0;
  padding-right: 3rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: normal;
}

.locations-left {
  font-size: 1.25rem;
  margin: 2rem;
  padding-left: 8rem;
}

.locations-right {
  font-size: 1.25rem;
  margin: 2rem;
  padding-right: 8rem;
}

.footer > h4 {
  font-weight: normal;
  font-size: 1.4rem;
  text-transform: uppercase;
}
